*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body {
    width: 100%;
    height:100%;
    font-size: 62.5%;
    font-family: 'Press Start 2P', cursive;
    
  }
  ul{
    list-style: none;
  }
  h4 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  
  body {
      background: linear-gradient(-45deg, #56ec92, #3ce75b, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      min-height: 100vh;
    margin: 0 auto;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
      
  }

.title {
    display: flex;
    font-family: "Pokemon", sans-serif;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color:chartreuse;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;

}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 100vw;
    text-align: center;
    gap: 10px;
    font-size: 30px;
}
.newcontainer{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    display: none;
}


.playerside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    width: 40vw;
    height: 80vh;
    padding: 10px;
    background-color: lightblue;
}
.computerside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    width: 40vw;
    height: 80vh;
    padding: 10px;
    background-color: lightblue;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    font-size: 15px;
}
.movemessage {
  font-size: 10px;
}
.headimg{
    width: 200px;
    height: 200px;
}
.yourpokemonimg {
    height: 200px;
    width: 200px;
}
.cmppokemonimg {
    height: 200px;
    width: 200px;
}
#progress_status {
    width: 30vw;
    background-color: #ddd;
    
  }
    
  #myprogressBar {
    width: 100%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
    transition: all 1s;
  }
  #progress_status2 {
    width: 30vw;
    background-color: #ddd;
    
  }
  #cmpprogressBar{
    width: 100%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
    transition: all 1s;
  }
  .pkmname , .cmppkmname{
    font-size: 25px;
  }
  .playerbtn1 , .playerbtn2 {
    background-color: white;
    padding: 10px; 
    margin: 2px;
    width: 20vw;
  }
  .playerbtn1:hover , .playerbtn2:hover {
    background-color: lightgray;
  }
  .cmpbtn1 , .cmpbtn2 {
    background-color: white;
    padding: 10px; 
    margin: 2px;
    width: 20vw;
  }
  .cmphp {
    font-size: 15px;
  }
  .hp {
    font-size: 15px;
  }
  /*.cmpbtn1:hover , .cmpbtn2:hover {
    background-color: lightgray;
  }*/

